//header.pug
header.header
  .header__column
    a(href=routes.home)
      i.fab.fa-youtube
  .header__column
    ul
      li
        a(href="#") join
      li
        a(href="#") login
  .header__column
    form(action=routes.search, method="get")
      input(type="text", placeholder="Search by term...", name="term")