* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

address {
  font-style: normal;
}

#wrap {
  width: 100%;
  height: 100%;
  padding-right: 180px;
}

#wrap > h1 {
  font-size: 0;
}

#wrap header {
  width: 180px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: url(./image/menu_bg1.png) repeat-y;
  z-index: 11;
}

#wrap header nav {
  width: 100%;
  height: 100%;
}

#wrap header nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#wrap header nav ul li {
  margin: 0 0 10px 30px;
  position: relative;
  padding-left: 15px;
}

#wrap header nav ul li a {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  line-height: 30px;
}

#wrap header nav ul li a:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 13px;
}

#wrap header nav ul li a:hover {
  color: #ed3140;
}
#wrap header nav ul li a:hover:after {
  background-color: #ed3140;
}

#container {
  width: 100%;
  height: 100%;
}

header .logo_box {
  position: absolute;
  right: 35px;
  top: 75px;
}

header .logo_box img {
  width: 100px;
}

footer {
  width: 180px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 20px 30px 20px;
  font-size: 12px;
  color: #7e7e7e;
  z-index: 12;
  line-height: 1.2em;
}

footer address {
  margin-bottom: 15px;
}

footer > a {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -31px;
  transition: 0.4s;
}

footer > a.face {
  background: url("./image/social_b_facebook.png") no-repeat;
  right: 18px;
}

footer > a.face:hover {
  background: url("./image/social_b_facebook_hover.png") no-repeat;
}

footer > a.twit {
  background: url("./image/social_b_twitter.png") no-repeat;
  right: 48px;
}

footer > a.twit:hover {
  background: url("./image/social_b_twitter_hover.png") no-repeat;
}

footer > a.instar {
  background: url("./image/social_b_instar.png") no-repeat;
  right: 80px;
}

footer > a.instar:hover {
  background: url("./image/social_b_instar_hover.png") no-repeat;
}
