header {
  border-bottom: 1px solid #ccc;
  .container {
    width: 1280px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 80px;

    .logo a {
      display: block;
      width: 160px;
      height: 60px;
      margin-top: 10px;
      background: url('https://www.kumhotire.com/resources/images/common/menu_logo.png');
      text-indent: -9999px;
    }
    .gnb {
      font-size: 18px;
      font-weight: bold;
      display: flex;
      li {
        margin: 0 50px;
      }
    }
    .util {
      span:first-child {margin-right: 30px;}
    }
  }
}

section {
  video {
    width: 100%;
  }
}