* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

body {
  font-family: 'Roboto', 'Nanum Gothic', sans-serif;
}

ul {
  list-style: none;
}

em {
  font-style: normal;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}