@import url("reset.css");

#header {
  height: 70px;
  background-color: aliceblue;
}
.container {
  width: 960px;
  height: inherit;
  margin: 0 auto;
  background-color: #0066ff44;
}

#visual {
  height: 170px;
  background-color: orange;
}

#content {
  height: 300px;
  background-color: yellow;
}

#footer {
  height: 100px;
  background-color: antiquewhite;
}
