extends layouts/main

block content
  form(action=`${routes.users}${routes.changePassword(1234)}`, method="post")
    input(type="password", name="oldPassword", placeholder="Current Password") 
    input(type="password", name="newPassword1", placeholder="New Password") 
    input(type="password", name="newPassword2", placeholder="Confirm Password")
    input(type="submit", value="Change Password")