extends layouts/main
include mixins/videoBlock

block content
  .videos
    h1 Videos
      each video in videos
        +videoBlock({
          id: video.id,
          videoFile: video.videoFile,
          title: video.title,
          views: video.views
        })