extends layouts/main

block content
  .form-container
    form(action=`${routes.users}${routes.profileEdit}`, method="post")
      label(for="avatar") Avatar
      input(type="file", id="avatar", name="avatar")
      input(type="text", placeholder="Name", name="name")
      input(type="email", placeholder="Email", name="email")
      input(type="submit", value="Update Profile")
    a.form-container__link(href=`${routes.users}${routes.changePassword}`) Change Password