extends layouts/main

block content
  form(action=routes.signUp, method="post")
    span ID
    input(type="text" name="name")
    span E-MAIL
    input(type="email" name="email")
    span PASSWORD
    input(type="password" name="password")
    span Confirm PASSWORD
    input(type="password" name="password_confirm")
    button(type="submit") Sign Up
  include layouts/socialLogin