extends layouts/main

block content
  form(action=routes.signUp, method="post")
    span ID
    input(type="text")
    span E-MAIL
    input(type="email")
    span PASSWORD
    input(type="password" name="password")
    span Confirm PASSWORD
    input(type="password" name="password_confirm")
    button(type="submit") Sign Up
