extends layouts/main

block content
  form(action=routes.signIn, method="post")
    span ID
    input(type="email" name="email" required=true)
    span PASSWORD
    input(type="password" name="password" required=true)
    button(type="submit") Sign In
  include layouts/socialLogin