.container {width: 90%; max-width: 1100px; margin: 0 auto; }

/* Nav */
.main-nav {display: flex; align-items: center; justify-content: space-between; height: 56px; font-size: 13px;}
.main-nav .logo img{width: 110px; margin-top: 3px;}
.main-nav ul {display: flex;}
.main-nav ul li {padding: 20px 10px;}
.main-nav ul li a {padding-bottom: 2px;}
.main-nav ul li a:hover {border-bottom: 2px solid #262626;}
.main-nav ul li a.login:hover {border-bottom: none;}
.main-nav ul.main-menu {flex: 1; margin-left: 20px;}
.main-nav ul.right-menu i {margin-left: 3px; font-size: 16px;}