/* 스킵 네비게이션 */
.skip {position: relative;}
.skip a {position: absolute; left: 0; top: -100px; width: 140px; background: #333; text-align: center; color: #fff; padding: 8px;}
.skip a:focus {top: 0;}

/* 헤더 */
#header {background-color: #000; border-bottom: 1px solid rgba(255,255,255,0.2);}
#header .container {width: 1100px; height: 91px; margin: 0 auto; position: relative;}
#header .logo a {position: absolute; left: 50%; top: 23px; transform: translateX(-50%); display: block; width: 140px; height: 47px; text-indent: -9999px; background: url(images/logo-white.png);}

#header .util-area {font-size: 13px;}
#header .util-area .left-link {position: absolute; left: 0; top: 17px;}
#header .util-area .left-link a {float: left; margin-right: 20px; color: #888;}
#header .util-area .right-link {position: absolute; right: 0; top: 17px;}
#header .util-area .right-link a {float: left; margin-left: 20px; color: #888}
#header .util-area .left-link a:hover, #header .util-area .right-link a:hover {text-decoration: underline;}

#header .link-area a {display: block; position: absolute; top: 42px; width: 36px; height: 36px; font-size: 0; line-height: 0; background-position: center; background-repeat: no-repeat;}
#header .link-area .sitemap {background-image: url(images/ico-sitemap-white.png);}
#header .link-area .search {background-image: url(images/ico-search-white.png); left: 40px;}
#header .link-area .timetable {background-image: url(images/ico-schedule-white.png); right: 40px;}
#header .link-area .mymega {background-image: url(images/ico-mymega-white.png); right: 0;}

#header #gnb ul li a {display: block; position: absolute; top: 42px; height: 38px; text-indent: -9999px; background-repeat: no-repeat; background-position: center;}
#header #gnb .movie {background-image: url(images/gnb-txt-movie-white.png); left: 166px; width: 31px;}
#header #gnb .reserve {background-image: url(images/gnb-txt-reserve-white.png); left: 256px; width: 31px;}
#header #gnb .theater {background-image: url(images/gnb-txt-theater-white.png); left: 345px; width: 31px;}
#header #gnb .event {background-image: url(images/gnb-txt-event-white.png); right: 347px; width: 45px;}
#header #gnb .store {background-image: url(images/gnb-txt-store-white.png); right: 241px; width: 45px;}
#header #gnb .benefit {background-image: url(images/gnb-txt-benefit-white.png); right: 150px; width: 31px;}

/* main */
/* section01 */
#main #section01 {position: relative; height: 880px; padding: 0 0 80px 0; background-color: #000;}
#main #section01 .cont-area {position: relative; overflow: hidden; display: block; width: 1100px; margin: 0 auto;}
/* #main #section01 .cont-area {position: relative; overflow: hidden; display: block; z-index: 3; width: 1100px; height: auto; margin: 0 auto; padding: 0 0 50px 0;} */
#main #section01 .cont-area .tab-sorting {margin: 74px 0 20px 0; text-align: center;}
#main #section01 .cont-area .tab-sorting button {border: 0; margin: 0 18px; padding: 0 0 5px 0; background-color: transparent; color: #aaa; font-size: 16px;}
#main #section01 .cont-area .tab-sorting button:hover {color: #fff; border-bottom: 2px solid rgba(255,255,255,0.2);}
#main #section01 .cont-area .tab-sorting button:focus {outline: 1px dotted #000;}
#main #section01 .cont-area .tab-sorting button.on {color: #fff; border-bottom: 2px solid rgba(255,255,255,0.2);}
#main #section01 .cont-area .more-movie {position: absolute; right: 0; top: 82px; color: #aaa; font-size: 15px;}
#main #section01 .cont-area .more-movie:hover {text-decoration: underline;}
#main #section01 .cont-area .main-movie-list ol {margin: 0 -20px;}
#main #section01 .cont-area .main-movie-list ol li {float: left; width: 25%; padding: 0 20px;}
#main #section01 .cont-area .main-movie-list .movie-list-info {position: relative; width: 100%; height: 352px; border-radius: 5px;}
#main #section01 .cont-area .main-movie-list .movie-list-info .rank {position: absolute; z-index: 1; color: white; padding: 10px 0 0 15px; font-size: 2em; font-style: italic; text-shadow: 2px 2px 2px rgba(0,0,0,0.8);}
#main #section01 .cont-area .main-movie-list .movie-list-info img.poster {width: 100%; height: 352px; border-radius: 5px;}
#main #section01 .cont-area .main-movie-list .btn-util .btn-like {float: left; width: 30%; height: 36px; color: #fff; border: 1px solid #555; border-radius: 5px; background-color: #000;}
#main #section01 .cont-area .main-movie-list .btn-util .btn-like:focus {outline: none;}
#main #section01 .cont-area .main-movie-list .btn-util .btn-like i {margin-right: 5px;}
#main #section01 .cont-area .main-movie-list .btn-util .case {float: right; width: 68%; height:36px; color: #fff; border-radius: 5px;}
#main #section01 .cont-area .main-movie-list .btn-util .case .button {float: left; text-align: center; line-height: 36px; width: 100%;}
#main #section01 .cont-area .main-movie-list .btn-util .case.col2 .btn1 {background-color: #037b94; border-radius: 4px 0 0 4px; width: 50%;}
#main #section01 .cont-area .main-movie-list .btn-util .case .btn1 {background-color: #037b94; border-radius: 4px;}
#main #section01 .cont-area .main-movie-list .btn-util .case.col2 .btn2 {background-color: #01586b; border-radius: 0 4px 4px 0; width: 50%;}
#main #section01 .cont-area .search-link { margin: 80px 0 0 0;}
#main #section01 .cont-area .search-link .cell {float: left; width: 25%; color: white; text-align: center; border-left: 1px solid #423e3e;}
#main #section01 .cont-area .search-link .cell:first-child {border: none;}
#main #section01 .cont-area .search-link .search {border-bottom: 1px solid #423e3e; display: inline-block; position: relative; width: 200px; height: 30px;}
#main #section01 .cont-area .search-link .search .input-text {background-color: transparent; border: 0; color: #fff; line-height: 30px; font-size: 16px;}
#main #section01 .cont-area .search-link .search .input-text:active {border: 1px solid #000;}
#main #section01 .cont-area .search-link .search .btn {display: block; width: 30px; height: 100%; position: absolute; right: 0; top: 0; font-size: 0; line-height: 0; border: 0; background-color: transparent;}
#main #section01 .cont-area .search-link .search .btn .ico-search {display: inline-block; width: 18px; height: 18px; background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-search-white.png); vertical-align: middle;}
#main #section01 .cont-area .search-link .schedule {display: inline-block; width: 24px; height: 26px; background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-schedule-main.png); vertical-align: middle; margin-right: 6px;}
#main #section01 .cont-area .search-link .boxoffice {display: inline-block; width: 26px; height: 24px; background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-boxoffice-main.png); vertical-align: middle; margin-right: 6px;}
#main #section01 .cont-area .search-link .quickreserve {display: inline-block; width: 29px; height: 25px; background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-quick-reserve-main.png); vertical-align: middle; margin-right: 6px;}

#main #section02.main-benefit {overflow: hidden; position: relative; min-height: 1148px; padding: 0 0 100px 0;}
#main #section02.main-benefit:before {content: ''; display: block; position: absolute; left: 0; right: 0; top: 513px; bottom: 0; background-color: #503396;}
#main #section02.main-benefit .wrap {position: relative; width: 1100px; margin: 0 auto; padding: 0;}
#main #section02.main-benefit .tit-util {padding: 50px 0 0 0;}
#main #section02.main-benefit .tit-util .tit {float: left;}
#main #section02.main-benefit .tit-util .btn-more {float: right; display: block; width: 16px; height: 16px; background: url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-more-cross-purple.png) no-repeat; font-size: 0; line-height: 0; margin-top: 14px;}
#main #section02.main-benefit .slider {overflow: hidden; position: relative; width: 687px; height: 325px; background-color: #fff;}
#main #section02.main-benefit .slider .slider-view {position: absolute; height: 325px; font-size: 0; line-height: 0;}
#main #section02.main-benefit .slider .slider-view .cell .position {overflow: hidden; position: relative; width: 100%; height: 100%;}
#main #section02.main-benefit .slider .slider-view .cell .position a {display: block;}
#main #section02.main-benefit .slider .slider-view .cell .position .txt {position: absolute; left: 0;}
#main #section02.main-benefit .slider .slider-view .cell .position .txt a {width: 300px; height: 230px;}
#main #section02.main-benefit .slider .slider-view .cell .position .txt a img {max-width: 300px; max-height: 230px;}
#main #section02.main-benefit .slider .slider-view .cell .position .bg {position: absolute; top: 0;}
#main #section02.main-benefit .brn-ad {position: relative; min-width: 1100px;}
#main #section02.main-benefit .brn-ad .banner .size {float: left; width: 441px; height: 204px; font-size: 0; line-height: 0; border-radius: 5px; margin-right: 20px; box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);}
#main #section02.main-benefit .brn-ad .banner .size.small {width: 204px; height: 204px;}
#main #section02.main-benefit .brn-ad .banner .size img {width: 100%; height: 100%;}
#main #section02.main-benefit .menu-link {padding: 50px 0 0 0; color: #fff;}
#main #section02.main-benefit .menu-link .cell {float: left; width: 20%; display: block;}
#main #section02.main-benefit .menu-link .cell a {display: block; padding: 60px 0 0 0; text-align: center; background-repeat: no-repeat;}
#main #section02.main-benefit .menu-link .cell.vip a {background-image: url(images/ico-vip-main.png); background-position: center 2px;}
#main #section02.main-benefit .menu-link .cell.membership a {background-image: url(images/ico-membership-main.png); background-position: center 2px;}
#main #section02.main-benefit .menu-link .cell.card a {background-image: url(images/ico-card-main.png); background-position: center 2px;}
#main #section02.main-benefit .menu-link .cell.event a {background-image: url(images/ico-event-main.png); background-position: center 2px;}
#main #section02.main-benefit .menu-link .cell.store a {background-image: url(images/ico-store-main.png); background-position: center 2px;}
#main #section02.main-benefit .grand-open {overflow: hidden; position: relative; min-width: 1100px; height:335px; margin: 50px 0 0 0; border-top: 1px solid #5c419d;}
#main #section02.main-benefit .grand-open .tit {position: absolute; left: 0; top: 50px; color: #fff;}
#main #section02.main-benefit .grand-open .tit span {display: block;}
#main #section02.main-benefit .grand-open .tit strong {font-size: 1.6em; padding: 15px 0 0 0; line-height: 1.1; display: block;}
#main #section02.main-benefit .grand-open .open-cont {padding: 50px 0 0 373px; background-color: orange;}
#main #section02.main-benefit .grand-open .open-cont .open-pagination {overflow: hidden; position: absolute; left: 0; top: 170px; width: 160px; color: #fff; background-color: #333;}
.main-benefit .grand-open:before, .main-benefit .grand-open:after {content: ''; display: table;} 

#main #section03 {position: relative; min-height: 840px; background-color: #252451;}
#main #section03 .wrap {position: relative; width: 1100px; margin: 0 auto;}
#main #section03 .wrap .tit-util {padding: 50px 0 40px 0;}
#main #section03 .wrap .tit-util h2 {float: left; color: #fff; font-size: 2em;}
#main #section03 .wrap .tit-util a {float: right; color: #aaa; display: block; padding-top: 10px;}
#main #section03 .wrap .curr-img {position: absolute; width: 100%;}
#main #section03 .wrap .curr-img .bage.film {background: url(https://www.megabox.co.kr/static/pc/images/main/bg-bage-curation-film.png) no-repeat 0 0;}
#main #section03 .wrap .curr-img .bage {position: absolute; width: 123px; height: 135px; font-size: 0; line-height: 0; top: -10px;}
#main #section03 .wrap .curr-img .img {padding-left: 20px;}
#main #section03 .wrap .curr-img .img a {display: block; width: 300px; height: 430px;}
#main #section03 .wrap .curr-img .img a img {width: 100%; height: 100%; border-radius: 15px}
#main #section03 .wrap .curr-img .btn-group {width: 300px; padding: 10px 0 0 0; text-align: center; margin: 0 0 0 20px; font-size: 1.3em;}
#main #section03 .wrap .curr-img .btn-group .left {float: left; width: calc(50% - 5px);}
#main #section03 .wrap .curr-img .btn-group .left .button {background-color: transparent; border: 1px solid #fff; border-radius: 4px;}
#main #section03 .wrap .curr-img .btn-group .right {float: right; width: calc(50% - 5px);}
#main #section03 .wrap .curr-img .btn-group .right .button {background-color: #037b94; border-radius: 4px;}
#main #section03 .wrap .curr-img .btn-group .button {display: block; height: 50px; line-height: 48px; color: #fff;}
#main #section03 .wrap .curr-img .info {position: absolute; left: 370px; top:0; color: #fff; width: calc(100% - 370px);}
#main #section03 .wrap .curr-img .info .txt {font-size: 1.3em; padding-bottom: 10px;}
#main #section03 .wrap .curr-img .info .tit {font-size: 2.2em; padding-bottom: 20px; border-bottom: 1px solid rgba(255,255,255,0.2);}
#main #section03 .wrap .curr-img .info .summary {padding-top: 20px; line-height: 1.4;}
/* #main #section03 .wrap .curr-img .list {padding: 310px 0 0 370px; background-color: orange;} */
#main #section03 .wrap .curr-img .list {position: absolute; left: 370px; top: 324px;}
#main #section03 .wrap .curr-img .list ul {position: relative; margin: 0 -10px;}
#main #section03 .wrap .curr-img .list ul li {float: left; width: 25%; padding: 0 8px;}
#main #section03 .wrap .curr-img .list ul li a {position: relative; color: #fff; text-align: center;}
#main #section03 .wrap .curr-img .list ul li a .bage {position: absolute; left: 10px; top: -5px; display: block; width: 35px; height: 50px; font-size: 0; line-height: 0; z-index: 3; background-repeat: no-repeat;}
#main #section03 .wrap .curr-img .list ul li a .bage.film {background-image: url(https://www.megabox.co.kr/static/pc/images/main/bg-bage-curation-film-m.png);}
#main #section03 .wrap .curr-img .list ul li a .bage.classic {background-image: url(https://www.megabox.co.kr/static/pc/images/main/bg-bage-curation-classic-m.png);}
#main #section03 .wrap .curr-img .list ul li .img {padding: 0; height: 244px;}
#main #section03 .wrap .curr-img .list ul li .img img {border-radius: 10px; width: 100%; height: 100%;}
#main #section03 .wrap .curr-img .list ul li a .tit {white-space: nowrap; text-overflow: ellipsis; overflow: hidden; padding-top: 10px;}

#main #section04.main-info {padding: 0 0 50px 0;}
#main #section04.main-info h2.tit {width: 1100px; margin: 0 auto; padding: 50px 0 40px 0;}
#main #section04.main-info .info-special {width: 1100px; margin: 0 auto; text-align: center;}
#main #section04.main-info .info-special a {vertical-align: top; font-size: 0; line-height: 0; display: inline-block; width: 170px; height: 170px; background-position: 0 0; background-repeat: no-repeat; background-size: 170px 340px; box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.2); border-radius: 10px; margin: 0 0 0 16px}
#main #section04.main-info .info-special a:hover {background-position: 0 -170px;}
#main #section04.main-info .info-special .butique {background-image: url(images/bg-main-megainfo-boutique.png);}
#main #section04.main-info .info-special .mx {background-image: url(images/bg-main-megainfo-mx.png);}
#main #section04.main-info .info-special .comfort {background-image: url(images/bg-main-megainfo-comfort.png);}
#main #section04.main-info .info-special .mega-kids-box {background-image: url(images/bg-main-megainfo-kids.png);}
#main #section04.main-info .info-special .the-first-club {background-image: url(images/bg-main-megainfo-first.png);}
#main #section04.main-info .info-notice {margin-top: 50px; border: 1px solid #e2e2e2; border-width: 1px 0;}
#main #section04.main-info .info-notice .wrap {display: block; width: 1100px; position: relative; margin: 0 auto; padding: 0 175px 0 95px;}
#main #section04.main-info .info-notice .wrap .tit {position: absolute; left: 0; top: 0;}
#main #section04.main-info .info-notice .wrap .link {position: relative;}
#main #section04.main-info .info-notice .wrap .link:before {content: ''; display: block; position: absolute; left: -20px; top: 50%; margin-top: -7px; width: 1px; height: 14px; background-color: #e2e2e2;}
#main #section04.main-info .info-notice .wrap .link a {display: inline-block;}
#main #section04.main-info .info-notice .wrap .link a strong {color: #01738b}
#main #section04.main-info .info-notice .wrap .date {position: absolute; right: 95px; top: 0; color: #666;}
#main #section04.main-info .info-notice .wrap .more {position: absolute; right: 0; top: 0; width: 85px; text-align: center;}
#main #section04.main-info .info-notice .wrap .more:before {content: ''; display: block; position: absolute; left: 0; top: 50%; margin-top: -7px; width: 1px; height: 14px; background-color: #e2e2e2;}
#main #section04.main-info .info-notice .wrap .more i {margin-left: 5px;}
#main #section04.main-info .info-notice .wrap > p {height: 60px; line-height: 60px;}
#main #section04.main-info .info-notice .wrap:before, #main #section04.main-info .info-notice .wrap:after {content: ''; display: table;}
#main #section04.main-info .info-notice a:hover {text-decoration: underline;}
#main #section04.main-info .info-link {width: 1100px; padding: 50px 0; margin: 0 auto;}
#main #section04.main-info .info-link a:hover {text-decoration: underline;}
#main #section04.main-info .info-link .table {display: table; width: 100%;}
#main #section04.main-info .info-link .table .cell {display: table-cell; width: 16.6%; text-align: center;}
#main #section04.main-info .info-link .iconset {display: block; margin: 0 auto; margin-bottom: 8px;}
#main #section04.main-info .info-link .ico-main-customer {width: 46px; height: 46px; background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-main-customer.png);}
#main #section04.main-info .info-link .ico-main-faq {width: 50px; height: 46px; background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-main-faq.png);}
#main #section04.main-info .info-link .ico-main-qna {width: 43px; height: 43px; background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-main-qna.png);}
#main #section04.main-info .info-link .ico-main-group {width: 50px; height: 38px; background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-main-group.png);}
#main #section04.main-info .info-link .ico-main-lost {width: 51px; height: 39px; background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-main-lost.png);}
#main #section04.main-info .info-link .ico-main-boutique {width: 48px; height: 40px; background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-main-boutique.png);}


/* footer */
#footer {position: relative; min-width: 1100px; width: 100%; height: 200px; margin: 0; padding: 0; background-color: #f8f8fa; font-size: 13px;}
#footer .footer-top {width: 1100px; margin: 0 auto; padding: 30px 0; color: #666;}
#footer .inner-wrap:after, .inner-wrap:before {content: ''; display: table; clear: both;}
#footer .fnb {float: left;}
#footer .fnb li {float: left; margin-right: 14px; line-height: 30px;}
#footer .fnb li.privacy {font-weight: 700; color: #222;}
#footer .footer-top .looking-theather {overflow: hidden; float: right; display: block; width: 106px; height: 30px; line-height: 28px; text-align: center; border: 1px solid #d8d9db; border-radius: 30px;}
#footer .footer-top .iconset {display: inline-block; vertical-align: middle; margin-right: 4px;}
#footer .footer-top .ico-footer-search {width: 15px; height: 15px; background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-footer-search.png);}
#footer .footer-top .fnb a:hover {text-decoration: underline;}

#footer .footer-bottom {color: #444;}
#footer .footer-bottom {width: 1100px; margin: 0 auto; line-height: 1.5;}
#footer .footer-bottom .ci {overflow: hidden; float: left; margin-right: 20px; width: 150px; height: 50px; text-indent: -9999px; background: url(https://img.megabox.co.kr/static/pc/images/common/ci/logo-opacity.png);}
#footer .footer-bottom .footer-info {float: left;}
#footer .footer-bottom address {display: inline-block;}
#footer .footer-bottom p {display: inline-block;}
#footer .footer-bottom p.copy {display: block;}
#footer .footer-bottom .footer-sns {float: right;}
#footer .footer-bottom .footer-sns a {float: left; display: block; width: 32px; height: 30px; margin-left: 5px; font-size: 0; line-height: 0;}
#footer .footer-bottom .footer-sns a i {display: block; width: 32px; height: 30px;}
#footer .footer-bottom .footer-sns .iconset {background-repeat: no-repeat; background-position: 0 0;}
#footer .footer-bottom .footer-sns .ico-twitter {background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-twitter.png);}
#footer .footer-bottom .footer-sns .ico-facebook {background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-facebook.png);}
#footer .footer-bottom .footer-sns .ico-instagram {background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-instagram.png);}
#footer .footer-bottom .footer-sns .ico-googleplay {background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-googleplay.png);}
#footer .footer-bottom .footer-sns .ico-appstore {background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-appstore.png);}

/* 기타 */
h2.tit { font-weight: 400; color: #351f66; font-size: 2em;}
.ico-more-corss {display: inline-block; width: 16px; height: 16px; margin-left: 5px; margin-top: -4px; vertical-align: middle;}
.ico-more-corss.gray {background: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-more-cross-gray.png);}
.button {cursor: pointer;}