/* 스킵 네비게이션 */
.skip {position: relative;}
.skip a {position: absolute; left: 0; top: -100px; width: 140px; background: #333; text-align: center; color: #fff; padding: 8px;}
.skip a:focus {top: 0;}

/* 헤더 */
#header {background-color: #000; border-bottom: 1px solid rgba(255,255,255,0.2);}
#header .container {width: 1100px; height: 91px; margin: 0 auto; position: relative;}
#header .logo a {position: absolute; left: 50%; top: 23px; transform: translateX(-50%); display: block; width: 140px; height: 47px; text-indent: -9999px; background: url(images/logo-white.png);}

#header .util-area {font-size: 14px;}
#header .util-area .left-link {position: absolute; left: 0; top: 15px;}
#header .util-area .left-link a {float: left; margin-right: 20px; color: #888;}
#header .util-area .right-link {position: absolute; right: 0; top: 15px;}
#header .util-area .right-link a {float: left; margin-left: 20px; color: #888}
#header .util-area .left-link a:hover, #header .util-area .right-link a:hover {text-decoration: underline;}

#header .link-area a {display: block; position: absolute; top: 47px; width: 36px; height: 36px; font-size: 0; line-height: 0; background-position: center; background-repeat: no-repeat;}
#header .link-area .sitemap {background-image: url(images/ico-sitemap-white.png);}
#header .link-area .search {background-image: url(images/ico-search-white.png); left: 40px;}
#header .link-area .timetable {background-image: url(images/ico-schedule-white.png); right: 40px;}
#header .link-area .mymega {background-image: url(images/ico-mymega-white.png); right: 0;}

#header #gnb ul li a {display: block; position: absolute; top: 56px; height: 38px; text-indent: -9999px; background-repeat: no-repeat; background-position: center 0;}
#header #gnb .movie {background-image: url(images/gnb-txt-movie-white.png); left: 166px; width: 30px;}
#header #gnb .reserve {background-image: url(images/gnb-txt-reserve-white.png); left: 256px; width: 30px;}
#header #gnb .theater {background-image: url(images/gnb-txt-theater-white.png); left: 345px; width: 30px;}
#header #gnb .event {background-image: url(images/gnb-txt-event-white.png); right: 347px; width: 45px;}
#header #gnb .store {background-image: url(images/gnb-txt-store-white.png); right: 241px; width: 45px;}
#header #gnb .benefit {background-image: url(images/gnb-txt-benefit-white.png); right: 150px; width: 30px;}