* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

body {
  font-family: 'Roboto', 'Nanum Gothic', sans-serif;
}

ul {
  list-style: none;
}